body * {
    width: 100%;
}

body {
    background-color: mistyrose;
    margin: 50px;
    border: 2px red solid;
}

html {
    background-image: url(./Images/dc135c0cc37a0f924fde466134e0e82d.jpg);
    background-size: cover;
}

form * {
    display: block;
    margin: 1em;
}

form a {
    border: 5px black solid;
    justify-content: center;
    width: 50%;
    margin-left: 26%;
    background: white;
}

a {
    text-align: center;
   font-size: 150%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
text-align: center;
text-decoration: wavy;
color:  rgb(199, 43, 43);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
}

p {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

form label {
    font-size: 20px;
    text-align: center;
}

input {
margin-left: 46%;
}

form {
border: 5px solid rgb(10, 10, 10);
}

input {
    width: 9%;
}

.box {
    border: 5px dotted black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

h3 {
    text-align: center;
}

img {
width: 20%;
display: inline-flex;
margin-left: 40%;
}