body * {
box-sizing: content-box;
}

body {
background-color: mistyrose;
margin: 0 auto;
border: 3px rgb(169, 37, 37) dotted;
max-width: 90%;
color: rgb(169, 37, 37);   
}

html {
background-image: url(./Images/dc135c0cc37a0f924fde466134e0e82d.jpg);
background-size: fill;
}

h1 {
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 40px;
color: rgb(169, 37, 37);
}

.contents {
text-align: center;
}

h3 {
text-align: center;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
max-width: 80%;
background: mistyrose;
border: 2px red dotted;
margin: 0 auto;  
padding: 5px 0px 5px 0px;
}


.container img {
max-width: 30%;
height: 30vh;
object-fit: fill;
margin: 7px;
padding: 5px 5px 5px 5px;
border-radius: 25% 10%;
height: auto;

}

.container img:hover {
border: 2px dotted red;
}

h2 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: rgb(169, 37, 37);
}

p {
font-size: 20px;
}

#sponsors {
display: flex;
width: 100%;
justify-content: center;
}

#sponsors img {
object-fit: contain;
width: 50%;
height: 100px;
background-color: mistyrose;
justify-content: space-between;
}

#sponsors img:hover {
border: 2px solid black;
}


label {
display: block;
margin: 0.5rem 0;
}


footer {
text-align:end;
font-size: 20px
}

@media (max-width: 400px) {
.container img {
width: 50%;
height:auto;

}
}

@media (max-width: 400px) {
footer {
    text-align: end;
    font-size: 15px;    
}
}

a:visited {
color: blue;
}

a:hover {
color: red;
}

a {
text-decoration: none;
font-size: 18px;
}

form {
text-align: center;
}
